.bg-body-secondary {
  background-color: #f8f9fa;
}

.generate-text {
  font-size: 1.25rem;
}

.bottom-text {
  font-size: 1rem;
}

.videoResults {
  margin-top: 1rem;
}

.videoList {
  list-style-type: none;
  padding: 0;
}
